@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
html{
    text-align:center;
}

* {
    font-family:'Quicksand',cursive;
    user-select:none;
}

body {
    background-color:rgb( var(--color-bg) );
    color:rgb( var(--color-text) );

    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin:0;
    min-height:100vh;

    max-width:900px;
    margin-left:auto;
    margin-right:auto;
}

.header-nav {
    text-align:center;
    width:100%;
    flex-grow:1;
    padding:20px;

    display:flex;
    flex-direction:column;
}

nav{
    padding:10px;
    flex-grow:1;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;

    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:space-evenly;
}

nav ul li {
    background-color:rgb(var(--color-text));
    color:rgb(var(--color-text-bg));
    padding:20px;
    border-radius:5px;
    min-width:120px;
}

nav ul li:first-child {
    width:100%;
}

nav ul *{
    margin:0;
}

main {
    max-height:800px;
    overflow: auto;
}

footer {
    box-sizing:border-box;
    
    color:rgb( var(--color-text) );

    flex-grow:1;
    width:100%;

    background-color:rgb(var(--color-bg),.7);
    box-shadow:0 0 0px 10px rgba(var(--color-text),.2),
    0 0 0px 20px rgba(var(--color-text),.2),
    0 0 0px 30px rgba(var(--color-text),.2);

    border-radius:5px;

    margin-top:40px;
    margin-bottom:-5px;

    transition:all 400ms;
}

footer .form-theme{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

footer .form-theme > *{
    flex-grow:1;
    margin:0;
    padding:10px;
    font-size:1.1em;
    border:none;
}

footer .form-theme select{
    box-sizing: border-box;
    background-color:rgba(var(--color-text),.2);
    border-top:1px solid rgb(var(--color-text));
    color:rgb(var(--color-text));
    outline:none;
}

footer .form-theme select option{
    appearance: none;
    background-color: rgb(var(--color-text-bg));
    color: rgb(var(--color-text));
    outline: none;
}

footer .form-theme :is(input[type="submit"],input[type="reset"]){
    background-color: rgb(var(--color-text));
    color: rgb(var(--color-text-bg));
    border:none;
}


footer:hover {
    box-shadow:0 0 0px 0px rgba(var(--color-text),.2),
    0 0 0px 0px rgba(var(--color-text),.2),
    0 0 0px 0px rgba(var(--color-text),.2);
}

a{
    line-height: auto;
    color:inherit;
    margin: 0;
    text-decoration:none;
}

.custom-scroll{
    padding-right:2px;
}
.custom-scroll::-webkit-scrollbar{
    width:4px;
    
}
.custom-scroll::-webkit-scrollbar-thumb{
    background-color:rgb(var(--color-text));
}