main {
    flex-grow: 1;
    max-width:100%;
    box-sizing: border-box;

    display:flex;
    flex-direction:column;
    gap:10px;
}

:is(.auth-register,.auth-login) main {
    overflow: visible;
    max-height: none;
}

:is(.auth-register,.auth-login) main form {
    box-sizing: border-box;
    width:400px;
    max-width:100%;
    align-self: center;
    display:flex;
    flex-direction:column;
}

:is(.auth-register,.auth-login) main form * {
    max-width:100%;
    box-sizing: border-box;
}


:is(.auth-register,.auth-login) main form label{
    padding:10px;
    font-size:1.3em;
    margin-top:10px;
    text-align:left;
}

:is(.auth-register,.auth-login) main form :is(input,textarea,select){
    /* border-radius:5px; */
    box-sizing: border-box;
    width:100%;
    padding:10px;
    font-size:1.1em;
    background-color:rgba(var(--color-text),.2);
    border:none;
    border-top:1px solid rgb(var(--color-text));
    color:rgb(var(--color-text));
    resize:none;
    outline:none;
    caret-color: rgb(var(--color-text));
}

:is(.auth-register,.auth-login) main form :is(input,textarea)::placeholder{
    color:rgba(var(--color-text),.6);
}


:is(.auth-register,.auth-login) main form :is(input[type="submit"],input[type="reset"]){
    background-color: rgb(var(--color-text));
    color: rgb(var(--color-text-bg));
    border-radius:5px;
    margin-top:10px;
}

