aside {
    flex-grow:1;
    width:200px;
}

main {
    flex-grow:10;
    width:400px;
    max-width:100%;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    gap:10px;
}

:is(.todo-create,.todo-edit) main {
    overflow: visible;
    max-height: none;
}

aside .filter {
    background-color:rgba(var(--color-text),.2);
    border-radius:5px;
}

aside .filter .categories form {
    background-color:rgba(var(--color-text),.2);
    border-radius:5px;

    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding:10px;
    gap:10px;
}
aside .filter .categories form .items{
    overflow-y: auto;
    overflow-x: visible;
    max-height:200px;

    display:flex;
    flex-wrap:wrap;
    gap:10px;

}
aside .filter .categories form .category{
    flex-grow:1;
    width:100px;
    background-color:rgb(var(--color-text));
    color:rgb(var(--color-text-bg));
    padding:10px;
    border-radius:5px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}  

aside .filter .categories form .category input[type="checkbox"]{
    appearance:none;
    background-color:rgb(var(--color-text-bg));
    width:20px;
    height:20px;
    border-radius:2px;
    border:2px solid rgb(var(--color-text-bg));
    cursor:pointer;
}

aside .filter .categories form .category input[type="checkbox"]:checked{
    background:rgb(var(--color-text));
}

aside .filter .categories form .category label{
    flex-grow:1;
    text-align:left;
    cursor:pointer;
    
}

aside .filter .categories form :is(input[type="submit"],input[type="reset"]){
    border:none;
    background-color:rgb(var(--color-text));
    color:rgb(var(--color-text-bg));
    padding:20px;
    border-radius:5px;
    font-size:1.5em;
    cursor:pointer;
}

main .todo-item {
    box-sizing: border-box;
    border:2px solid rgb(var(--color-text));
    padding:20px;
    border-radius:5px;
    font-size:1.3em;
    word-break: keep-all;
    max-width:calc(100vw - 0px);
}

:is(.todo-edit,.todo-create) main form {
    box-sizing: border-box;
    width:400px;
    max-width:100%;
    align-self: center;
    display:flex;
    flex-direction:column;
}

:is(.todo-edit,.todo-create) main form * {
    max-width:100%;
    box-sizing: border-box;
}

.todo-create main form input[type="submit"]{
    margin-top: 10px;
}

:is(.todo-edit,.todo-create) main form label{
    padding:10px;
    font-size:1.3em;
    margin-top:10px;
    text-align:left;
}

:is(.todo-edit,.todo-create) main form :is(input,textarea,select){
    /* border-radius:5px; */
    box-sizing: border-box;
    width:100vw;
    padding:10px;
    font-size:1.1em;
    background-color:rgba(var(--color-text),.2);
    border:none;
    border-top:1px solid rgb(var(--color-text));
    color:rgb(var(--color-text));
    resize:none;
    outline:none;
    caret-color: rgb(var(--color-text));
}

:is(.todo-edit,.todo-create) main form select option{
    appearance: none;
    background-color: rgb(var(--color-text-bg));
    color: rgb(var(--color-text));
    outline: none;
}

:is(.todo-edit,.todo-create) main form .done {
    
    display:flex;
    align-items:center;
    border-top:1px solid rgb(var(--color-text));
}
:is(.todo-edit,.todo-create) main form .done *{
    margin:0;
}

:is(.todo-edit,.todo-create) main form input[type="radio"]{
    appearance:none;
    width:20px;
    height:20px;
    border-radius:100px;
    border:2px solid rgb(var(--color-text));
    background-color: rgb(var(--color-text-bg));
}

:is(.todo-edit,.todo-create) main form input[type="radio"]:checked{
    background-color: rgb(var(--color-text));
}

:is(.todo-edit,.todo-create) main form :is(input,textarea)::placeholder{
    color:rgba(var(--color-text),.6);
}

:is(.todo-edit,.todo-create) main form :is(input[type="submit"],input[type="reset"]){
    background-color: rgb(var(--color-text));
    color: rgb(var(--color-text-bg));
    border-radius:5px;
}

:is(.todo-edit,.todo-create,.todo-show) aside{
    display:none;
}
